@import "tailwindcss";
@import "./font.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: 'Funnel Display', sans-serif;
  --breakpoint-3xl: 120rem;
  --color-primary: #F0523C;
  --color-secondary: #FEB0E1;
  --color-tertiary: #F6D465;
  --color-white: #EFEFEF;
  --color-black: #212121;
}
@layer components {
  .container {
    @apply flex flex-col items-center justify-center mx-auto px-4 md:px-6 lg:px-8;
  }
}


body {
  font-family: 'Funnel Display', sans-serif;
}



@layer utilities {
  .card-style {
    @apply rounded-2xl border-2 border-black dark:border-white 
           shadow-[8px_8px_0px_0px_rgb(0,0,0)] dark:shadow-[8px_8px_0px_0px_rgb(255,255,255)] 
           hover:shadow-[16px_16px_0px_0px_rgb(0,0,0)] dark:hover:shadow-[16px_16px_0px_0px_rgb(255,255,255)] 
           transition;
  }
  .card-style2{
    @apply rounded-2xl border-2 border-black 
    shadow-[8px_8px_0px_0px_rgb(0,0,0)] 
    hover:shadow-[16px_16px_0px_0px_rgb(0,0,0)]
    transition;


  }
}

.mySwiper {
  position: relative;
  padding-left: 30px; /* Espacio en los lados para que las flechas no se solapen */
  padding-right: 30px; /* Espacio en los lados para que las flechas no se solapen */
}


/* Asegúrate de que las flechas tengan color negro */
.swiper-button-next,
.swiper-button-prev {
  color: black !important; /* Flechas negras */
}



/* Asegúrate de que las flechas no se solapen con las tarjetas */
.mySwiper {
  padding-left: 30px; /* Espacio a la izquierda para las flechas */
  padding-right: 30px; /* Espacio a la derecha para las flechas */
}

.swiper-button-next, .swiper-button-prev {
  z-index: 10; /* Asegúrate de que las flechas estén sobre las tarjetas */
}
