@font-face {
  font-family: "Funnel Display";
  src: url("../assets/fonts/FunnelDisplay-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/FunnelDisplay-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("../assets/fonts/FunnelDisplay-Bold.woff2") format("woff2"),
    url("../assets/fonts/FunnelDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("../assets/fonts/FunnelDisplay-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/FunnelDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("../assets/fonts/FunnelDisplay-Regular.woff2") format("woff2"),
    url("../assets/fonts/FunnelDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("../assets/fonts/FunnelDisplay-Medium.woff2") format("woff2"),
    url("../assets/fonts/FunnelDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("../assets/fonts/FunnelDisplay-Light.woff2") format("woff2"),
    url("../assets/fonts/FunnelDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("../assets/fonts/FunnelDisplay-Light.woff2") format("woff2"),
    url("../assets/fonts/FunnelDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
